.example-container {
    border: solid 1px #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ccc;
  }
  
  .example-list {
    background-color: #f5f5f5;
    border: dashed 2px #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 150px;
    padding: 10px;
  }
  
  .example-box {
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 4px;
    cursor: move;
    margin: 10px;
    padding: 10px;
    width: 150px;
  }
  
  .example-box:hover {
    box-shadow: 2px 2px 6px #ccc;
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  