.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:70%;
    background-color: rgb(171, 206, 213);
    border-radius: 2%;
    box-shadow: 2px,2px,2px black;
  }
  
  .diet-details {
    text-align: center;
  }
  h1, h2, h3, h4 {
    text-align: center;
  }
  
  .diet-image {
    display: block;
    margin: 20px auto;
  }
  
  h2, h3, h4 {
    margin-top: 20px;
  }
  
  