<a routerLink="/details/{{service.id}}"></a>
<div class="service-box">
    
    <div class="image-holder">
        <img src="http://localhost/{{service.image}}">
    </div>
    <div class="text-area">
    <div class="text">
        {{service.name}}
    </div>
    <div class="nutrition">
        <p>Protein:{{service.Protein}}g</p>
        <p>Fat:{{service.Fat}}g</p>
        <p>Calories:{{service.Calories}}g</p>
        <p>Carbs:{{service.Carbohydrates}}g</p>
        {{service.qty}}
    </div>
</div>
</div>